---
layout: nil
---

{% assign primary_colour = '#DE1B1B' %}

/*

Begin styles from codeguide.co by @mdo

*/

html {
  font-size: 16px;
}
@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #333;
}

/*

End styles from codeguide.co by @mdo

*/

/*
 * Page navigation
 */

#page-nav {
    bottom: 0.5em;
    right: 0.5em;
    position: fixed;
    text-align: center;
    font-weight: bold;
}

/*
 * Typography
 */
h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	border-bottom: 0.25em solid #e2e2e2;
	padding-bottom: 0.3em;
}

h3:before {
	content: '➤';
	width: 1.5em;
	display: inline-block;
	margin-left: -1.5em;
	color: {{ primary_colour }};
	font-weight: normal;
}

a {
    color: #333;
    border-bottom: 1px solid {{ primary_colour }};
    text-decoration: none;
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.3s;
}

a:hover {
    color: {{ primary_colour }};
    border-color: #333;
}

header.top {
    background: {{ primary_colour }};
    color: #333;
}

header.top h1 {
    color: #fff;
    margin-bottom: 0;
}

header.top p.author {
    margin-top: 0;
}

header.top a {
    color: #333;
    border-color: #333;
}

header.top a:hover {
    border: none;
    text-decoration: none;
}

header.top p.twitter {
    float: right;
    margin-top: -3em;
}

.wrap {
	padding: 2% 10%;
    max-width: 48em;
    margin: 0 auto;
}

#content h1 {
    display: none;
}

ul#markdown-toc {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 1em;
     -moz-column-gap: 1em;
          column-gap: 1em;
          
    margin-bottom: 2.8em;
}

.foot hr {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    border: none;
    border-top: 0.1em solid #E2E2E2;
    color: #E2E2E2;
    text-align: center;
}
.foot hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.925em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.foot .buttons {
    margin-top: 3em;
}
.quick-links {
    list-style: none;
    margin-left: 0;
    text-align: center;
}
.quick-links li {
    display: inline;
}

/* Syntax highlighting */
code {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 0.825em;
    color: #666;
}
pre code {
    max-height: 450px;
    overflow-y: auto;
}

{% include highlight.hybrid.css %}

.anchorjs-link {
    color: {{ primary_colour }};
    border: none;
}