---
layout: nil
---

/*

Begin styles from codeguide.co by @mdo

*/

html {
  font-size: 16px;
}
@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  font: 1rem/1.5 "PT Sans", sans-serif;
  color: #5a5a5a;
}

/*

End styles from codeguide.co by @mdo

*/

pre code {
    max-height: 450px;
    overflow-y: auto;
}

{% include highlight.hybrid.css %}
