<footer class="foot wrap">
    <hr/>
    <nav class="translation-nav">
        <span>Translations:</span>
        <a href="{{ site.url }}/de/" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
            <span itemprop="name" alternateName="de" title="Deutsch (German)" lang="de">Deutsch</span>
        </a>
        ·
        <a href="{{ site.url }}" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
            <span itemprop="name" alternateName="en" title="English">English</span>
        </a>
        ·
        <a href="{{ site.url }}/ja" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
            <span itemprop="name" alternateName="ja" title="日本語 (Japanese)" lang="ja">日本語</span>
        </a>
        ·
        <a href="{{ site.url }}/pt-br/" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
            <span itemprop="name" alternateName="pt-BR" title="Português (BR) (Portuguese - Brazil)" lang="pt-BR">Português (BR)</span>
        </a>
        ·
        <a href="{{ site.url }}/ru/" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
            <span itemprop="name" alternateName="ru" title="Русский (Russian)" lang="ru">Русский</span>
        </a>
        ·
        <a href="{{ site.url }}/zh" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
            <span itemprop="name" alternateName="zh" title="简体中文 (Simplified Chinese)" lang="zh">简体中文</span>
        </a>
        ·
        <a href="{{ site.url }}/zh-tw" itemprop="availableLanguage" itemscope itemtype="http://schema.org/Language">
            <span itemprop="name" alternateName="zh-TW" title="正體中文 (Traditional Chinese)" lang="zh-TW">正體中文</span>
        </a>
    </nav>
    <p>
        This guide is being discussed on Hacker News [
            <a href="https://news.ycombinator.com/item?id=9941150">1</a>,
            <a href="https://news.ycombinator.com/item?id=12671667">2</a>
        ],
        Reddit [
            <a href="https://www.reddit.com/r/SQL/comments/3efmn0/sql_style_guide_a_consistent_code_guide_ensuring/">1</a>,
            <a href="https://www.reddit.com/r/programming/comments/3eri42/sql_style_guide_by_simon_holywell/">2</a>,
            <a href="https://www.reddit.com/r/PHP/comments/3efmp7/sql_style_guide_a_consistent_code_guide_ensuring/">3</a>
        ],
        <a href="https://lobste.rs/s/q9elee/sql_style_guide_by_simon_holywell">Lobste.rs</a> and
        of course <a href="https://twitter.com/search?f=tweets&amp;q=&quot;sqlstyle.guide&quot;">Twitter</a>
        if you want to have your say.
    </p>
    <p>
        I have attempted to answer most of the frequently asked questions and held misconceptions in a blog post
        entitled <a href="https://www.simonholywell.com/post/2016/12/sql-style-guide-misconceptions/?utm_source={{ site.domain }}-sqlstyle.guide&amp;utm_medium=link&amp;utm_campaign=footer-link">
        "SQL style guide misconceptions"</a> please have a read.
    </p>
    <p>Please do <a href="https://github.com/treffynnon/sqlstyle.guide/issues">open issues</a> or
        <a href="https://github.com/treffynnon/sqlstyle.guide/pulls/">pull requests</a> for any errors you
        may find in the guide and help me to improve it.</p>
    <p>
        <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
            SQL style guide
        </span> by
        <a xmlns:cc="http://creativecommons.org/ns#"
           href="https://www.simonholywell.com/?utm_source=sqlstyle.guide-{{ site.domain }}&amp;utm_medium=link&amp;utm_campaign=footer-licence"
           property="cc:attributionName"
           rel="cc:attributionURL">
            Simon Holywell
        </a> is licensed under a
        <a rel="license"
           href="http://creativecommons.org/licenses/by-sa/4.0/">
            Creative CommonsAttribution-ShareAlike 4.0 International License</a>.
            <br />Based on a work at
        <a xmlns:dct="http://purl.org/dc/terms/"
           href="http://www.sqlstyle.guide"
           rel="dct:source">www.sqlstyle.guide</a>.
    </p>
    <div class="buttons">
        <ul class="quick-links">
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=treffynnon&amp;repo={{ site.domain }}&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112px" height="20px"></iframe>
            </li>
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=treffynnon&amp;repo={{ site.domain }}&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
            </li>
        </ul>
        <ul class="quick-links">
            <li class="follow-btn">
                <a href="https://twitter.com/treffynnon" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @treffynnon</a>
            </li>
            <li class="tweet-btn">
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-text="SQL style guide by @treffynnon: {{ site.description }}" data-dnt="true">Tweet</a>
            </li>
        </ul>
    </div>
</footer>
