<nav id="page-nav">
    <a href="#" id="to-top" class="toplink">↑</a>
</nav>
<header class="top">
    <div class="wrap">
        <h1 itemprop="name">SQL Style Guide</h1>
        <p class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">by 
            <a href="https://www.simonholywell.com/?utm_source=sqlstyle.guide-{{ site.domain }}&utm_medium=link&utm_campaign=header" itemprop="url"><span itemprop="name">Simon Holywell</span></a> &middot;
            <a href="https://twitter.com/treffynnon">@Treffynnon</a>
        </p>
        <p class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-text="SQL style guide by @treffynnon: {{ site.description }}" data-size="large" data-dnt="true">Tweet</a>
        </p>
    </div>
</header>
