<nav id="page-nav">
    <a href="#" id="to-top" class="toplink">↑</a>
</nav>
<header class="top">
    <div class="wrap">
        <h1>SQL Style Guide</h1>
        <p class="author">by <a href="https://www.simonholywell.com">Simon Holywell</a></p>
        <p class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sqlstyle.guide" data-text="SQL style guide by @treffynnon" data-size="large" data-dnt="true">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
    </div>
</header>