<nav id="page-nav">
    <a href="#" id="to-top" class="toplink">↑</a>
</nav>
<div id="translation-bar">
    <div class="wrap">
        <select class="language-drop" id="language-drop">
            {% include layout_partials/languages.html dropdown=true %}
        </select>
        <div class="language-ico">{% include static/language.svg %}</div>
    </div>
</div>
<header class="top">
    <div class="wrap">
        <h1 itemprop="name">{% if page.lang_title %}{{ page.lang_title }} · {% endif %}SQL Style Guide</h1>
        <p class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">by
            <a href="https://www.simonholywell.com/?utm_source=sqlstyle.guide-{{ site.domain }}&amp;utm_medium=link&amp;utm_campaign=header" itemprop="url"><span itemprop="name">Simon Holywell</span></a> &middot;
            <a href="https://twitter.com/treffynnon">@Treffynnon</a>
        </p>
        <p class="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button" 
               data-url="{{ site.url }}" data-text="SQL style guide by @treffynnon: {{ site.description }}"
               data-size="large" data-dnt="true">Tweet</a>
        </p>
        {% if page.contributors -%}
            <p class="translator">Translated by: 
            {% for user in page.contributors -%}
                <a href="https://github.com/{{ user.user }}" title="{{ user.user }} - {{ user.type }}" rel="nofollow">
                    {{- user.user -}}
                </a>
                {%- if forloop.last != true %} · {% endif -%}
            {%- endfor %}
            </p>
        {%- endif %}
    </div>
</header>
