<!doctype html>
<html lang="en-au">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title property="og:title">{{ site.name }}</title>
        <link href="http://fonts.googleapis.com/css?family=PT+Sans|Roboto+Slab|Droid+Sans+Mono" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="style.css">

        <meta content="website" property="og:type">
        <meta content="{{ site.url }}" property="og:url">
        <meta content="{{ site.time | date_to_xmlschema }}" property="og:updated_time">
        <meta content="https://www.facebook.com/holywell" property="article:author">
        <meta content="https://www.facebook.com/holywell" property="article:publisher">
        <meta content="{{ site.time | date_to_xmlschema }}" property="article:modified_time">
        <meta content="" property="article:section">
        <meta content="{{ site.description }}" itemprop="description" name="description" property="og:description">
        <meta content="sql, style guide, code style guide, sql server" itemprop="keywords" name="keywords" property="article:tag">
        <meta content="summary" name="twitter:card">
        <meta content="{{ site.name }}" name="twitter:title">
        <meta content="{{ site.description }}" name="twitter:description">
        <meta content="@sqlserverio" name="twitter:site">
        <meta content="@sqlserverio" name="twitter:creator">
        <meta content="{{ site.domain }}" name="twitter:domain">

        <link href="https://github.com/SQLServerIO/" rel="author">

        <link rel="canonical" href="{{ site.url }}">
    </head>
    <body itemscope itemtype="http://schema.org/TechArticle">
        <meta itemprop="wordCount" content="{{ content | number_of_words }}">
        <meta itemprop="about" content="{{ site.description }}">
        <meta itemprop="audience" content="SQL programmers">
        <meta itemprop="license" content="http://creativecommons.org/licenses/by-sa/4.0/">
        <meta itemprop="version" content="1.0.0">
        <meta itemprop="proficiencyLevel" content="Beginer">
        <meta itemprop="dependencies" content="SQL knowledge">
        <meta itemprop="copyrightHolder" content="Simon Holywell, Wesley Brown">
        {% include head.html %}
        <main class="article-body wrap" id="content" itemprop="articleBody">
            {{ content }}
        </main>
        {% include foot.html %}
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="scripts.js"></script>
    </body>
</html>
