<!doctype html>
<html lang="en-au">
    <head>
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_code }}"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "{{ site.ga_code }}");
        </script>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1"
        />
        <title property="og:title">
            {% if page.lang_title %}{{ page.lang_title }} · {% endif %}{{
            site.name }}
        </title>
        <link
            href="//fonts.googleapis.com/css?family=Roboto+Slab:400"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="{{ site.url }}/static/style.css" />

        <link
            rel="icon"
            type="image/png"
            href="{{ site.url }}/static/favicon-32x32.png"
            sizes="32x32"
        />
        <link
            rel="icon"
            type="image/png"
            href="{{ site.url }}/static/favicon-16x16.png"
            sizes="16x16"
        />

        <meta content="website" property="og:type" />
        <meta content="{{ site.url }}" property="og:url" />
        <meta
            content="{{ site.time | date_to_xmlschema }}"
            property="og:updated_time"
        />
        <meta
            content="https://www.facebook.com/holywell"
            property="article:author"
        />
        <meta
            content="https://www.facebook.com/holywell"
            property="article:publisher"
        />
        <meta
            content="{{ site.time | date_to_xmlschema }}"
            property="article:modified_time"
        />
        <meta content="" property="article:section" />
        <meta
            content="{% if page.lang_title %}{{ page.lang_title }} · {% endif %}{{ site.description }}"
            itemprop="description"
            name="description"
            property="og:description"
        />
        <meta
            content="sql, style guide, code style guide, simon holywell, holywell"
            itemprop="keywords"
            name="keywords"
            property="article:tag"
        />
        <meta content="summary" name="twitter:card" />
        <meta
            content="{% if page.lang_title %}{{ page.lang_title }} · {% endif %}{{ site.name }}"
            name="twitter:title"
        />
        <meta
            content="{% if page.lang_title %}{{ page.lang_title }} · {% endif %}{{ site.description }}"
            name="twitter:description"
        />
        <meta content="@treffynnon" name="twitter:site" />
        <meta content="@treffynnon" name="twitter:creator" />
        <meta content="{{ site.domain }}" name="twitter:domain" />

        <link rel="author" href="//plus.google.com/+SimonHolywell" />
        <link
            rel="canonical"
            href="{{ site.url }}{{ page.url | replace:'index.html',''}}"
        />
        <link rel="alternate" hreflang="x-default" href="{{ site.url }}/" />
        {% include layout_partials/languages.html rel_alternate=true %}
    </head>
    <body itemscope itemtype="http://schema.org/TechArticle">
        <meta itemprop="wordCount" content="{{ content | number_of_words }}" />
        <meta itemprop="about" content="{{ site.description }}" />
        <meta itemprop="audience" content="SQL programmers" />
        <meta
            itemprop="license"
            content="https://creativecommons.org/licenses/by-sa/4.0/"
        />
        <meta itemprop="version" content="1.0.1" />
        <meta itemprop="proficiencyLevel" content="Beginner" />
        <meta itemprop="dependencies" content="SQL knowledge" />
        <meta itemprop="copyrightHolder" content="Simon Holywell" />
        {% include layout_partials/head.html %}
        <main
            class="article-body wrap"
            id="content"
            itemprop="articleBody"
            lang="{{ page.lang }}"
        >
            {{ content }}
        </main>
        {% include layout_partials/foot.html %}
        <script>
            !(function (d, s, id) {
                var js,
                    fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            })(document, "script", "twitter-wjs");
        </script>
        <script src="{{ site.url }}/static/scripts.js"></script>
    </body>
</html>
